/* Start of CSS */

body 
    {
    background: #777777;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    font-size:18px;
    color:black;
    padding:10px;
}


header
    {
    width:960px;
	background: #ebebeb;
	padding: 20px;
    color: black;
    text-align: center;
    font-weight:bold;
    padding: 5px;
    border: 1px solid black;
    margin: 0 1.5% 24px 1.5%;
}

nav
    {
    width:960px;
	background: #ebebeb;
	padding: 20px;
    color: black;
    text-align: center;
    font-weight:bold;
    padding: 5px;
    border: 1px solid black;
    margin: 0 1.5% 24px 1.5%;
}

/*remove bullet points from list under aside */
ul 
    {
    list-style-type: none;
}
/*full article formatting. Parent: Article. Child: section1,p1,section2,h2*/
article
    {
      float: left;
      width:495px;
      padding: auto;
      background-color:#ebebeb;
      padding: 5px;
      border: 1px solid black;
      margin: 0 1.5% 24px 1.5%;
}

section1 
    {
        font-weight:bold;
        text-align: center;
 } 

h1 {
    font-weight:strong;
    font-size: 20px;
}

p1 
    {
        font-weight:bold;
        text-align: left;
}

section2
    {
        font-weight:bold;
        text-align:center;
}

h2 
    {
        text-align:left;
}
/*Aside formatting. Parent: aside. child:footer*/
aside 
    {
    float: right;
    width: 320px;
    background-color: #ebebeb;
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
    margin: 0 1.5% 24px 1.5%;
}

footer 
    {
    background-color:#ebebeb;
    clear: both;
    padding : 5px;
    border : 1px solid rgb(0, 0, 0);
    margin: 0 1.5% 24px 1.5%
}